.mapboxgl-ctrl-logo {
    display: none !important;
}

body.tui-mode #sidebar-standard {
    display: none !important;
}

body:not(.tui-mode) #sidebar-tui {
    display: none !important;
}


#main_container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    flex-direction: column;
}
